@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your moive collection!</h1>
</div>

<a asp-action="Registration" asp-controller="Home">Register a new Movie!</a>