
<h2>Movie Info Form</h2>

<form action="Result" method="post">
    <br />
    <label for="Id">ID:</label> <br />
    <input type="number" id="Id" name="Id" />
    <br />

    <label for="Title">Title:</label><br />
    <input type="text" id="Title" name="Title" />
    <br />
    <br />

    <input type="radio" id="Drama" name="GenreType" value="Drama">
    <label for="GenreType">Drama</label><br>

    <input type="radio" id="Comedy" name="GenreType" value="Comedy">
    <label for="GenreType">Comedy</label><br>

    <input type="radio" id="Horror" name="GenreType" value="Horror">
    <label for="GenreType">Horror</label><br>

    <input type="radio" id="Romance" name="GenreType" value="Romance">
    <label for="GenreType">Romance</label><br>

    <input type="radio" id="Action" name="GenreType" value="Action">
    <label for="GenreType">Action</label><br>

    <label for="Year">Year:</label><br />
    <input type="number" id="Year" name="Year" />
    <br />

    <label for="RunTime">RunTime:</label> <br />
    <input type="number" id="RunTime" name="RunTime" />
    <br />
    <br />

    <input type="submit" />
</form>